In [174]:
import folium
import joblib
import pickle
#import seaborn as sns
import pandas as pd
from folium.plugins import MarkerCluster
import sklearn
import matplotlib.pyplot as plt

In [6]:
m = folium.Map(location=[37.8136,144.9631], tiles='OpenStreetMap', zoom_start=5)

In [7]:
df = pd.read_csv("melb_data.csv")

In [8]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [52]:
df.dropna(subset = ["Longtitude"], inplace=True)
df.dropna(subset = ["Lattitude"], inplace=True)
df.dropna(subset=["Price"], inplace=True)
df.dropna(subset=["Bathroom"], inplace=True)
df.dropna(subset=["Landsize"], inplace=True)
df.dropna(subset=["BuildingArea"], inplace=True)

In [53]:
df["Price"].isna().sum()

0

In [54]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra City Council,-37.7969,144.9969,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,-37.8072,144.9941,Northern Metropolitan,4019.0

In [55]:
df1 = pd.DataFrame()

In [94]:
df1["Lattitude"] = df["Lattitude"] 
df1["Longtitude"] = df["Longtitude"] 
df1["Address"] = df["Address"] 
df1["Price"] = df["Price"]
df1["Suburb"] = df["Suburb"]
df1["SellerG"] = df["SellerG"]
df1["Rooms"] = df["Rooms"]
df1["Bathroom"]= df["Bathroom"]
df1["Landsize"]= df["Landsize"]
df1["BuildingArea"]= df["BuildingArea"]
df1["Type"]= df["Type"]

In [57]:
df1.head()

,Lattitude,Longtitude,Address,Price,Suburb,SellerG,Rooms,Bathroom,Landsize
1,-37.7996,144.9984,85 Turner St,1480000.0,Abbotsford,Biggin,2,1.0,202.0
2,-37.8079,144.9934,25 Bloomburg St,1035000.0,Abbotsford,Biggin,2,1.0,156.0
4,-37.8093,144.9944,5 Charles St,1465000.0,Abbotsford,Biggin,3,2.0,134.0
5,-37.7969,144.9969,40 Federation La,850000.0,Abbotsford,Biggin,3,2.0,94.0
6,-37.8072,144.9941,55a Park St,1600000.0,Abbotsford,Nelson,4,1.0,120.0

In [59]:
df1.isna().sum()

Lattitude     0
Longtitude    0
Address       0
Price         0
Suburb        0
SellerG       0
Rooms         0
Bathroom      0
Landsize      0
dtype: int64

In [60]:
df1.to_csv("Mapog.csv", index = False)

In [61]:
gf = pd.read_csv("Mapog.csv")

In [62]:
gf.head()

,Lattitude,Longtitude,Address,Price,Suburb,SellerG,Rooms,Bathroom,Landsize
0,-37.7996,144.9984,85 Turner St,1480000.0,Abbotsford,Biggin,2,1.0,202.0
1,-37.8079,144.9934,25 Bloomburg St,1035000.0,Abbotsford,Biggin,2,1.0,156.0
2,-37.8093,144.9944,5 Charles St,1465000.0,Abbotsford,Biggin,3,2.0,134.0
3,-37.7969,144.9969,40 Federation La,850000.0,Abbotsford,Biggin,3,2.0,94.0
4,-37.8072,144.9941,55a Park St,1600000.0,Abbotsford,Nelson,4,1.0,120.0

In [63]:
import sqlite3

In [109]:
ad = pd.read_csv("MelSQLiteData.csv", header=0)

In [93]:
# ad.to_csv('FinalDF.csv', index=False)

In [ ]:

pred_cols = list(pr.columns.values)[:-1]

# apply the whole pipeline to data
pred = pd.Series(pipe.predict(pr[pred_cols]))
print pred

In [106]:
pipe = joblib.load('housepriceprediction.joblib')

/Users/zakepriyadarshi/opt/anaconda3/lib/python3.7/site-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator RandomizedSearchCV from version 0.23.2 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [113]:
# ad.merge(df)

,Rooms,Bathroom,Landsize,Lattitude,Longtitude,Car,BuildingArea,YearBuilt,Suburb,Address,...,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,CouncilArea,Regionname,Propertycount
0,2,1.0,156.0,-37.80790,144.99340,0.0,79.0,1900.0,Abbotsford,25 Bloomburg St,...,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,Yarra City Council,Northern Metropolitan,4019.0
1,3,2.0,134.0,-37.80930,144.99440,0.0,150.0,1900.0,Abbotsford,5 Charles St,...,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,Yarra City Council,Northern Metropolitan,4019.0
2,4,1.0,120.0,-37.80720,144.99410,2.0,142.0,2014.0,Abbotsford,55a Park St,...,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,Yarra City Council,Northern Metropolitan,4019.0
3,3,2.0,245.0,-37.80240,144.99930,0.0,210.0,1910.0,Abbotsford,124 Yarra St,...,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,4.0,Yarra City Council,Northern Metropolitan,4019.0
4,2,1.0,256.0,-37.80600,144.99540,2.0,107.0,1890.0,Abbotsford,98 Charles St,...,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,2.0,Yarra City Council,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7426,4,1.0,219.0,-37.79761,144.88053,1.0,113.0,1910.0,West Footscray,510 Barkly St,...,832000.0,S,Jas,24/02/2018,6.4,3012.0,4.0,Maribyrnong City Council,Western Metropolitan,5058.0
7427,5,2.0,739.0,-37.89304,145.18475,2.0,293.0,1980.0,Wheelers Hill,9 Walden Av,...,1400000.0,S,LLC,24/02/2018,16.7,3150.0,5.0,Monash City Council,South-Eastern Metropolitan,7392.0
7428,5,3.0,450.0,-37.86180,144.87855,2.0,241.0,2015.0,Williamstown,13 Kingshott Cl,...,2020000.0,S,Greg,24/02/2018,6.8,3016.0,5.0,Hobsons Bay City Council,Western Metropolitan,6380.0
7429,3,2.0,383.0,-37.61940,145.03951,2.0,118.0,2016.0,Wollert,27 Birchmore Rd,...,500000.0,PI,Ray,24/02/2018,25.5,3750.0,3.0,Whittlesea City Council,Northern Metropolitan,2940.0
7430,3,2.0,404.0,-37.61031,145.03393,2.0,158.0,2012.0,Wollert,35 Kingscote Wy,...,570000.0,SP,RW,24/02/2018,25.5,3750.0,3.0,Whittlesea City Council,Northern Metropolitan,2940.0

In [117]:
pred_cols = list(ad.columns.values)
pred_cols

['Rooms',
 'Bathroom',
 'Landsize',
 'Lattitude',
 'Longtitude',
 'Car',
 'BuildingArea',
 'YearBuilt']

In [118]:
pred = pd.Series(pipe.predict(ad[pred_cols]))

In [119]:
print(pred)

0       1.074177e+06
1       1.426608e+06
2       1.424675e+06
3       2.096994e+06
4       1.516263e+06
            ...
8882    5.204895e+05
8883    5.761732e+05
8884    8.298205e+05
8885    6.928372e+05
8886    9.912662e+05
Length: 8887, dtype: float64

In [124]:
ad['Predicted_Price'] = pred
ad['Predicted_Price'] = ad['Predicted_Price'].astype('int')

In [134]:
ad.to_csv('PredictedDataset.csv',index= False)

In [136]:
df.to_csv('OriginalDataset.csv', index=False)

In [138]:
dfs = ad.merge(df, how='left')

In [141]:
dfs.columns

Index(['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude', 'Car',
       'BuildingArea', 'YearBuilt', 'Predicted_Price', 'Suburb', 'Address',
       'Type', 'Price', 'Method', 'SellerG', 'Date', 'Distance', 'Postcode',
       'Bedroom2', 'CouncilArea', 'Regionname', 'Propertycount'],
      dtype='object')

In [143]:
dfs = dfs[['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude', 'Car',
       'BuildingArea', 'YearBuilt', 'Predicted_Price', 'Suburb', 'Address',
       'Type', 'Price', 'SellerG']]

In [146]:
dfs = dfs.dropna()

In [147]:
dfs

,Rooms,Bathroom,Landsize,Lattitude,Longtitude,Car,BuildingArea,YearBuilt,Predicted_Price,Suburb,Address,Type,Price,SellerG
0,2,1.0,156.0,-37.80790,144.99340,0.0,79.0,1900.0,1074177,Abbotsford,25 Bloomburg St,h,1035000.0,Biggin
1,3,2.0,134.0,-37.80930,144.99440,0.0,150.0,1900.0,1426607,Abbotsford,5 Charles St,h,1465000.0,Biggin
2,4,1.0,120.0,-37.80720,144.99410,2.0,142.0,2014.0,1424675,Abbotsford,55a Park St,h,1600000.0,Nelson
3,3,2.0,245.0,-37.80240,144.99930,0.0,210.0,1910.0,2096993,Abbotsford,124 Yarra St,h,1876000.0,Nelson
4,2,1.0,256.0,-37.80600,144.99540,2.0,107.0,1890.0,1516263,Abbotsford,98 Charles St,h,1636000.0,Nelson
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8965,4,1.0,219.0,-37.79761,144.88053,1.0,113.0,1910.0,888135,West Footscray,510 Barkly St,h,832000.0,Jas
8968,5,2.0,739.0,-37.89304,145.18475,2.0,293.0,1980.0,1413279,Wheelers Hill,9 Walden Av,h,1400000.0,LLC
8969,5,3.0,450.0,-37.86180,144.87855,2.0,241.0,2015.0,1895160,Williamstown,13 Kingshott Cl,h,2020000.0,Greg
8970,3,2.0,383.0,-37.61940,145.03951,2.0,118.0,2016.0,520489,Wollert,27 Birchmore Rd,h,500000.0,Ray
8971,3,2.0,404.0,-37.61031,145.03393,2.0,158.0,2012.0,576173,Wollert,35 Kingscote Wy,h,570000.0,RW

In [168]:
db_conn = sqlite3.connect("adpost.db")

In [169]:
c = db_conn.cursor()

In [170]:
c.execute("DROP TABLE addressall")

In [171]:
c.execute(
    """
    CREATE TABLE addressall (
    lattitude REAL NOT NULL,
    longtitude REAL NOT NULL,
    address TEXT NOT NULL, 
    price INTEGER NOT NULL,
    suburb TEXT NOT NULL,
    sellerG TEXT NOT NULL,
    rooms INTEGER NOT NULL,
    bathroom INTEGER NOT NULL,
    landsize INTEGER NOT NULL,
    buildingarea INTEGER NOT NULL,
    car INTEGER NOT NULL,
    yearbuilt INTEGER NOT NULL,
    type TEXT NOT NULL,
    predicted_price INTEGER NOT NULL
);
     """
)

In [172]:
dfs.to_sql('addressall', db_conn, if_exists='append', index=False)

In [173]:
pd.read_sql("SELECT * FROM addressall LIMIT 5", db_conn)

,lattitude,longtitude,address,price,suburb,sellerG,rooms,bathroom,landsize,buildingarea,car,yearbuilt,type,predicted_price
0,-37.8079,144.9934,25 Bloomburg St,1035000,Abbotsford,Biggin,2,1,156,79,0,1900,h,1074177
1,-37.8093,144.9944,5 Charles St,1465000,Abbotsford,Biggin,3,2,134,150,0,1900,h,1426607
2,-37.8072,144.9941,55a Park St,1600000,Abbotsford,Nelson,4,1,120,142,2,2014,h,1424675
3,-37.8024,144.9993,124 Yarra St,1876000,Abbotsford,Nelson,3,2,245,210,0,1910,h,2096993
4,-37.8060,144.9954,98 Charles St,1636000,Abbotsford,Nelson,2,1,256,107,2,1890,h,1516263